<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/visha/IdeaProjects/Selenium/src/test/java/org/example/Ex14_TestNG/Annotations/AllAnnotations.java"><classes><class name="org.example.Ex14_TestNG.Annotations.AllAnnotations"><methods><include name="test1"/><include name="test2"/></methods></class></classes></test></suite>