<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/visha/IdeaProjects/Selenium/src/test/java/org/example/Ex14_TestNG"><classes><class name="org.example.Ex14_TestNG.Notes"><methods><include name="openapp"/><include name="login"/><include name="logout"/></methods></class><class name="org.example.Ex14_TestNG.OrangeHRMTest"><methods><include name="testLogo"/><include name="testLogin"/></methods></class></classes></test></suite>